* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #43a047;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  width: 80vmin;
  min-width: 480px;
  padding: 40px 20px;
  border-radius: 8px;
}

label {
  display: block;
}

span {
  font-size: 24px;
  font-weight: 700;
}

.opt-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #43a047;
  color: #fff;
  width: 75px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  background-color: #444444;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 4px solid black;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
  border: 4px solid black;
}

.gridCol {
  width: 1em;
  height: 1em;
  border: 1px solid #ddd;
}
@media only screen and (max-width: 768px) {
  gridCol {
    width: 0.8em;
    height: 0.8em;
  }
}
.gridRow {
  display: flex;
}

.clicked-button {
  border: 3px solid #ff0000;
}
